{% extends 'base.html' %}
{% load static %}

{% block one %}
    <h1 class="text">Enter your contents and generate the unique URL</h1>
    <form class="form-horizontal" action="{% url 'post_login_create' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>(Select editable to enable editing of paste by anyone with the unique URL)</p>
        <input name="slug" id="id_slug" required="True" type="hidden" maxlength="100">
        <input type="submit" class="btn btn-primary" value="Generate Unique URL">
    </form>
    <br>
    <br>
    {% if pastes %}
    <h3>The following is the list of all the pastes created by you:</h3>
    <h6><em>Click on the title or unique URL of any one of it to edit it:</em></h6>
    <br>
    {% for paste in pastes %}
    <ul>   
        <li><a href="{% url 'edit' id=paste.pk %}">{{ paste.title }}</a> last updated on {{ paste.date }} The unique URL for this is <a href="{% url 'posts:disp' url=paste.slug %}">http://ec2-13-232-43-59.ap-south-1.compute.amazonaws.com:8000/posts/{{ paste.slug }}</a></li>
    </ul>
    {% endfor %}
    {% endif %}
    <br>
    {% if all_pastes %}
    <h3>All the pastes created in this PasteBin are:</h3>
    <h6><em>Click on the title or unique URL of a paste to edit it if allowed else to just view it:</em></h6>
    <br>
    {% for paste in all_pastes %}
    <ul>
        <li><a href="{% url 'disp' url=paste.slug %}">{{ paste.title }}</a> which was last updated by{% if paste.user %} {{ paste.user }} {% else %} a Guest {% endif %} on {{ paste.date }}. The unique URL for this is <a href="{% url 'disp' url=paste.slug %}">http://ec2-13-232-43-59.ap-south-1.compute.amazonaws.com:8000/posts/{{ paste.slug }}</a></li>
    </ul>
    {% endfor %}
    {% endif %}
    <script src="{% static 'slugify.js' %}"></script>
{% endblock %}